.home h1{
  left: 38%;
  top: 28%;
  position: absolute;
}
.home h{
  left: 46%;
  font-weight: bolder;
  font-size: 30px;
  top: 25%;
  position: absolute;
}
.home p{
  left: 37.8%;
  top: 35%;
  font-size: larger;
  position: absolute;
}
.details{
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-20%, -50%);
  width: 1325px;
  padding: 20px;
}
p{
  font-size: 50px;
}
p1{
  position: absolute;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  top: 240px;
  left: 20%;
  transform: translate(-20%, -50%);
  width: 1300px;
  font-size: 25px;
  line-height: 1.5;
  border-inline-start-width: 20px;
  padding: 20px;
}